

<style>
.span3 label{
  font-size:14px;
  font-weight: bold;
  float: right;
}
.span3 input[type=submit] {
  float:left;
}
.span4 input[type=text]{
  width:100%;
}
p{
  text-align: center;
  padding: 5px;
}
textarea{
  width:auto;
  height:auto;
}
input.btn-inverse {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #363636;
background-image: -moz-linear-gradient(top, #444444, #222222);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
background-image: -webkit-linear-gradient(top, #444444, #222222);
background-image: -o-linear-gradient(top, #444444, #222222);
background-image: linear-gradient(to bottom, #444444, #222222);
background-repeat: repeat-x;
border-color: #222222 #222222 #000000;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
</style>
<%= form_for @comment do |f| %>
  <%= f.hidden_field :war_id %>
  <%= f.hidden_field :user_id %>
  
    <div class="row-fluid">
      <div  class="span12">
        <div class="span9">
           <%= f.text_area :comment, :cols=>28, :rows=>3, :placeholder=>'Your Comment Here' %>
        </div>
        <div class="span3">
          <%= f.submit 'Submit', :class=>"btn btn-inverse" %>
        </div>
      </div>
   </div>

<% end %>



<!--
<style type="text/css">
textarea{
	width: 660px; height: 112px;
}
</style>

-->