<h3> Post a Comment </h3>
<%= form_for @comment do |f| %>
  <%= f.hidden_field :war_id %>
  <%= f.hidden_field :user_id %>
  <p>
    <%= f.label :comment %><br/>
    <div> <%= f.text_area :comment %> </div>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<!--
<style type="text/css">
textarea{
	width: 660px; height: 112px;
}
</style>

-->