
<%= simple_form_for @war, :validate => true do |f| %>

    <div class="box-it">
    
		<div class="control-group">
			<div class="control-label"><%= f.label :topic %></div>
			<div class='controls'>
				
				<%= f.text_field :topic, :disabled => !@war.topic.blank?, :required=>'true' %>
				

			</div>
		</div>

		<div class="control-group">
			<div class="control-label"><%= f.label :description %> </div>
			<div class='controls'>
				<%= f.text_area :description, :cols => 20, :rows => 10,:required=>'true', :maxlength=>255;  %>
			</div>
		</div>
		<div class="control-group">
			<div class="control-label"><%= f.label :war_pic, 'Photo' %> </div>
			<div class='controls'>
				<%=  f.file_field :war_pic, :max_size => 1000  %>
			</div>
		</div>
		<div class="control-group">
			<div class="control-label"><%= f.label :category_id, 'Select Category' %> </div>
			<div class='controls'>
				<%= f.collection_select :category_id, @categories,:id, :topic  %>
			</div>
		</div>
		
		<% if @war.topic.blank? %>
		<div class="control-group">
			<div class="control-label">
				<%= f.label :options_test, "Voting Options (Comma seperated)" %> 
			</div>
			<div class='controls'>
				<%= f.text_field :options_test  %>
			</div>
			</div>
			<% end %>
			
		
		<div class="control-group">
			<div class="control-label"><%= f.label ' ' %> </div> 
			<div class='controls'>
				<%= f.submit "Submit", :class=>'btn btn-inverse' %>
			</div>
		</div>

	</div>
	
	</form>
<% end %>

