<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
  <li>
    <div class="dropdown">
    <a class="dropdown-toggle" id="dUser" role="button" data-toggle="dropdown" data-target="#" href="/navigation.html">
     <%= image_tag current_user.user_image %>
    <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dUser">
    
    
    <li><%= link_to "View Profile", :user_show %></li>
     <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
   
   </ul>
    </div>
  </li>
   
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
  
    <li>
    <div class="dropdown">
    <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/navigation.html">
    Search a War
    <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><%= link_to('By Category', :search) %> <li>
    
    <li><%= link_to('By Topic', :search) %></li>
   </ul>
    </div>
  </li>
    
</ul>