<div>
  <span style="float:left">
  <%#= link_to "Home", root_path, :class => 'brand' %>
</span>

<span class="brand" style="float:left; padding:10px">

<i> <%= link_to " WAR", new_war_path, :class=>'icon-plus-sign', :title=>'Create a new War' %>

</span>

<div style="float:left;">
 <ul class="nav">
    <li style="margin-left:20px;">
    <div class="dropdown">
    <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/navigation.html">
    <i class="icon-search"></i> Search a War
    <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><%= link_to('By Category', searchByCategory_wars_path) %> <li>
    
    <li><%= link_to('By Topic', search_wars_path) %></li>
   </ul>
    </div>
    </li>

  </ul>

</div>


<span style='padding-left:140px'>
  <%= link_to image_tag("/assets/header.png", :border => 0, :size => "250x42" ), root_path %>
</span>



<div style="float:right">
    
<ul class="nav">
  <% if user_signed_in? %>
    <li style="padding: 10px 5px; font-size: 18px; text-shadow: 0.5px 1px #bbb; letter-spacing: 2px;"><%= current_user.username %>
    </li>
    <li>
      <div class="dropdown">
        <a class="dropdown-toggle" id="dUser" role="button" data-toggle="dropdown" data-target="#" href="/navigation.html"><%= image_tag current_user.user_image(:small) %><b class="caret"></b>    
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dUser" style="min-width:115px;z-index:99999;opacity:1;">
          <li><%= link_to "View Profile", user_path(current_user) %></li>
          <% if current_user.provider != 'facebook' %>
            <li>
            <%= link_to('Edit account', edit_user_registration_path) %>
            </li>
          <% end %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
          </li>
       
        </ul>
      </div>
    </li>
   <% else %>
      <li style ="margin-left:50px; float:right;">
      <%= link_to('Login', new_user_session_path)  %>
      </li>
      <li style ="margin-left:50px; float:right;">
      <%= link_to('Sign up', new_user_registration_path)  %>
      </li>
      <li style ="float:right;">
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
      </li>
    <% end %>
</ul>
</div>


