<div>
  <span style="float:left">
  <%#= link_to "Home", root_path, :class => 'brand' %>
</span>

<span style="float:left">

  <%= link_to "Create a new war", new_war_path, :class => 'brand' %>

</span>

<div style="float:left; padding-top:10px">
 <ul class="nav">
    <li style="margin-left:20px;">
    <div class="dropdown">
    <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/navigation.html">
    Search a War
    <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><%= link_to('By Category', searchByCategory_wars_path) %> <li>
    
    <li><%= link_to('By Topic', search_wars_path) %></li>
   </ul>
    </div>
  </li>

</ul>

</div>


<span style='padding-left:140px'>
  <%= link_to image_tag("/assets/header.png", :border => 0, :size => "250x42" ), root_path %>
</span>



<div style="float:right">
    
<ul class="nav">
  <% if user_signed_in? %>
  <li>
    <div class="dropdown">
     
    <a class="dropdown-toggle" id="dUser" role="button" data-toggle="dropdown" data-target="#" href="/navigation.html">
    
     <%= current_user.username %>
     <%= image_tag current_user.user_image(:small) %>
 
    <b class="caret"></b>
   
    </a>


    <ul class="dropdown-menu" role="menu" aria-labelledby="dUser">
    
    
    <li><%= link_to "View Profile", user_path(current_user) %></li>
    <% if current_user.provider != 'facebook' %>
     <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
    <% end %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
   
   </ul>
    </div>
  </li>
   
  <% else %>
    <li style ="margin-left:50px; float:right;">
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  
    <li style ="margin-left:50px; float:right;">
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
    <li style ="float:right;">
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  </li>
  <% end %>
</ul>
</div>

</div>
