<%= form_for(@war) do |f| %>

<table id = "warCreate">
	<tr>
		<td> <%= f.label :topic %> </td>
		<td width = "30px"> </td>
		<td> <%= f.text_field :topic %> </td>
	</tr>

	<tr>
		<td> <%= f.label :description %> </td>
		<td width = "30px"> </td>
		<td> <%= f.text_area :description %> </td>
	</tr>

	<tr>
	<td> <%= f.label :category_id, 'Select Category' %> </td>
		<td width = "30px"> </td>
	<td>
	
	<%= f.collection_select :category_id, @categories,:id, :topic %>
	</td></tr>

	</table>

	
	<table>
	<tr>
		<td> <%= f.submit %> </td>
		
	</tr>	
	</table>
	<% end %>


