<%= simple_form_for(@war) do |f| %>

<table id = "warCreate">
	<tr>
		<td width = "200px"> <%= f.label :topic %> </td>
		<td width = "30px"> </td>
		<td width = "500px"> <%= f.text_field :topic %> </td>
	</tr>

	<tr>
		<td> <%= f.label :description %> </td>
		<td width = "30px"> </td>
		<td> <%= f.text_area :description, :cols => 20, :rows => 10 %> </td>
	</tr>
	<tr>
		<td><%= image_tag @war.war_image(:small) %></td>
		<td width = "30px"> </td>
    	<td><%= f.file_field :war_pic %></td>
	<tr>
	<td> <%= f.label :category_id, 'Select Category' %> </td>
		<td width = "30px"> </td>
	<td>
	
	<%= f.collection_select :category_id, @categories,:id, :topic %>
	</td></tr>
	<tr>
		<td> <%= f.label :options_test %> </td>
		<td width = "30px"> </td>
		<td> <%= f.text_field :options_test %> </td>
	</tr>

	</table>

	<%#=# fields_for @war.options do |oForm| %>
	
	<table>
	<tr>
 	  <td> <%#=# oForm.label :option, 'Add options for polling' %> </td>
  	 <td> <%#=# oForm.text_field :option %> </td>
	</tr>
	</table>
 	<%# eConfigurationnd %>

	
	<table>
	<tr>
		<td> <%= f.submit %> </td>
		
	</tr>	
	</table>
	<% end %>

	<p> sjdjsahdashdsak </p>


