
<%= simple_form_for(@war) do |f| %>
    <div class="box-it">
		<div class="control-group">
			<div class="control-label"><%= f.label :topic %> </div>
			<div class='controls'>
				<%= f.text_field :topic %>
			</div>
		</div>
		<div class="control-group">
			<div class="control-label"><%= f.label :description %> </div>
			<div class='controls'>
				<%= f.text_area :description, :cols => 20, :rows => 10  %>
			</div>
		</div>
		<div class="control-group">
			<div class="control-label"><%= f.label :war_pic %> </div>
			<div class='controls'>
				<%=  f.file_field :war_pic  %>
			</div>
		</div>
		<div class="control-group">
			<div class="control-label"><%= f.label :category_id, 'Select Category' %> </div>
			<div class='controls'>
				<%= f.collection_select :category_id, @categories,:id, :topic  %>
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<%= f.label :options_test, "Options (Comma seperated)" %> 
			</div>
			<div class='controls'>
				<%= f.text_field :options_test  %>
			</div>
		</div>
		<div class="control-group">
			<div class="control-label"><%= f.label ' ' %> </div> 
			<div class='controls'>
				<%= f.submit %>
			</div>
		</div>
	</div>
	
	</form>
<% end %>

