

<%= form_tag :searchByCategory_wars, :method => :get do %>

    <div  class="row-fluid" style="margin-left:25%;">
      <div class="control-group">
        <div class="control-label"><%=  label_tag 'Category:' %> 
        </div>
        <div class="controls">     
          <%= collection_select :post,:category_id, Category.all, :id, :topic, :prompt => true %> <%= submit_tag "Search", :name => nil, :style=>"margin-left:15px;" %>
        </div>
      </div>
	 </div>

    

     <% if (@wars) %>
      <% if (@wars.empty?) %>
        <p style="text-align: center; padding: 5px;">No wars found.</p>
      <% else %>

    	 <%= render :partial => 'wars/search_results' %>
       <%= will_paginate @wars %>
 
      <% end %>
    <% else %>
      <p style="text-align: center; padding: 5px;" >Use the search form to search for a war.</p>
    <% end %>

<% end %>

