<%= form_tag :searchByCategory_wars, :method => :get do %>

<table id = "searchByCategory">
	<tr>
		<td> <%= label_tag :searchByCategory, 'Category' %> </td>
		<td width = "30px"> </td>
		<td><%#= text_field_tag :searchByCategory, params[:searchByCategory] %> </td>

    <td>
  
  <%= collection_select :post,:category_id, Category.all, :id, :topic, :prompt => true %>

  <%#= select "topic", "id", @categories.map{|c| [c.topic, c.id]}, {} , data: { behavior: 'category_dropdown' } %>
  </td>
	</tr>
	<tr height = "100px"> <td>
	<%= submit_tag "Search", :name => nil %>
</td> <tr>

</table>

<% if (@wars) %>
  <% if (@wars.empty?) %>
    <p>No wars found.</p>
  <% else %>

  	 <%= render :partial => 'wars/search_results' %>
   <%# @wars.each do |war| %>  
      <p><%#= label_tag war.topic %></p>
    <%# end %>
  <% end %>
<% else %>
   <p>Use the search form to search for a war.</p>
<% end %>


<% end %>