<%= render partial: 'layouts/header' %> 

<%= form_tag :searchByCategory_wars, :method => :get do %>

    <div  class="row-fluid">
      <div class="offset3 span6">
      <div class="control-group">
        <div class="control-label"><%=  label_tag 'Category:' %> 
        </div>
        <div class="controls">     
          <%= collection_select :post,:category_id, Category.all, :id, :topic, :prompt => true %> <%= submit_tag "Search", :name => nil, :style=>"margin-left:15px;", :class=>'btn btn-inverse' %>
        </div>
      </div>
    </div>
	 </div>

<div  class="row-fluid">
     <% if (@wars) %>
      <% if (@wars.empty?) %>
        <p style="text-align: center; padding: 5px;">No debates found.</p>
      <% else %>

    	 <%= render :partial => 'wars/search_results' %>
       <%= will_paginate @wars %>
 
      <% end %>
    <% else %>
      <p style="text-align: center; padding: 5px;" >Use the search form to search for a debate.</p>
    <% end %>
</div>
<% end %>
<%= render partial: 'layouts/footer' %> 

