<table id = "warView">
	<tr>
		<td>  Topic  </td>
		<td width = "30px"> </td>
		<td> <%= @war.topic %> </td>
	</tr>

	<tr>
		<td> Description </td>
		<td width = "30px"> </td>
		<td> <%= @war.description %> </td>
	</tr>
	<tr height="50px"></tr>

	<tr>
		<td> Comments </td>
		<td width = "30px"> </td>
	</tr>
	<tr>
		<td> <%= render partial: 'comment', collection: @war.comments %> </td>
	</tr>

	<tr height="50px"></tr> 

	<tr>
		<td> Category </td>
		<td width = "30px"> </td>
		<td> <%= @war.category.topic %> </td>
	</tr>
	<tr height = "50px"> </tr>

	<% if user_signed_in? %>
	<% if @user.id == @war.user_id %>
	<tr>
		<td>
		<%= link_to 'Edit', edit_war_path(@war) %>
		</td>
		<td>
		<%= link_to 'Delete', war_path(@war), method: :delete, confirm: "Are you sure?" %>
		</td>
	</tr>	
	<% end %>
	<% end %>

	<tr height = "40px"> </tr>

	<tr>
		<% if user_signed_in? %>
		<td> <%= render partial: 'comments/form' %> </td>
		<% end %>	
	</tr>

	<tr height = "100px">	
	</tr>

	<tr>
		
		<td> <%= render partial: 'votings/form' %> </td>
		
	</tr>
	</table >

	