<%= render partial: 'layouts/header' %> 

<%#= form_for @war, :url => { :action => "viewAll" }, :html => { :method => :put } do |f| %>
<%= form_tag :viewAll_wars, :method => :get do %>
testahsah
<div  class="row-fluid">
     <% if (@wars) %>
      <% if (@wars.empty?) %>
        <p style="text-align: center; padding: 5px;">No wars found.</p>
      <% else %>

       <%= render :partial => 'wars/search_results' %>
       <%= will_paginate @wars %>
 
      <% end %>
    <% else %>
    test2
      <!-- <p style="text-align: center; padding: 5px;" >Use the search form to search for a war.</p> -->
    <% end %>
</div>
<% end %>
<%= render partial: 'layouts/footer' %> 