<h3> Poll Vault </h3>
<%= form_for @voting do |fo| %>
	
	<%= fo.hidden_field :option_id %>
  	<%= fo.hidden_field :user_id %>
  	<p>
  		<table>
  		<% @options.all.each do |o| %>
  		<tr>
        <% if user_signed_in? %>
        <% if @voted == false  %>
  		 <td> <%= fo.radio_button :option_id, o.id %> </td>
       <% end %>
       <% end %>
  		  <td> <%= fo.label :option_id, o.option %> </td> 

  		  <td width = "20px"></td>
  		 <td> (<%= Voting.where("option_id = ?", o.id).count %> / <%= @totalVotes %>) </td>

  		 </tr>
  		<tr></tr>
		<% end %>
		<table>
    
  	</p>
     <% if user_signed_in? %>
     <% if @voted == false  %>
  	<p>
    	<%= fo.submit 'Vote' %>
  	</p>
    <% else %>
    You have already Voted!!!
  	<% end %>
    <% end %>

<% end %>