<div class="row-fluid" id="#poll-vault">

    <div class="box-it">
      <div class = "heading"  style="text-align:center"> Poll Vault</div>
    </div><br/>
    <div class="box-it" align="center">
    <%= form_for @voting do |fo| %>
        <%= fo.hidden_field :option_id %>
        <%= fo.hidden_field :user_id %>
        <% v=[],i=0 %>
        <div align="center" style="width:50%;">
        	<% @options.all.each do |o| %>
            <% if user_signed_in? %>
              <% if @voted == false  %>
              <%#= fo.radio_button :option_id, o.id %><%#= fo.label :option_id, o.option %>
                <input type="radio" id="voting_option_id_<%= o.id %>" style="margin-left:0px;" name="voting[option_id]" value="<%= o.id %>">
                </input>
                  <!--</div>
                  <div class="span11"> -->
                <p style="margin-left:20px; display:inline;"><%= o.option %></p>
                <br/>
              <% end %>
            <% end %>
            <% if @totalVotes != 0 %>
        		  <% v[i] = Voting.where("option_id = ?", o.id).count %> 
              <% v[i] = (v[i]*100/@totalVotes) %>
              <% i = i + 1 %>
            <% end %>

          <% end %>
        </div><br/>
        <% if user_signed_in? %>
          <% if @voted == false  %>
            <%= fo.submit 'Vote' %>
          <% else %>
            - We got your Vote..!! Cheers..!!
          <% end %>
        <% end %>
       <% if @totalVotes != 0 %>
        <% v.delete_at(i) %>
        <div class="row-fluid">
          <div class="poll-vault-image" id="#war-pie">
            <img src="<%= Gchart.pie_3d( :size => '500x250', :data => [v], :legend => @options.all.collect{|o| o.option}, :labels => v.collect{|v| v})%>"/>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>