
<h3> Poll Vault </h3>
<%= form_for @voting do |fo| %>
	
	<%= fo.hidden_field :option_id %>
  	<%= fo.hidden_field :user_id %>
    <% v=[],i=0 %>
  	<p>
  		<table>
  		<% @options.all.each do |o| %>
      
  		<tr>
        <% if user_signed_in? %>
        <% if @voted == false  %>
  		 <td> <%= fo.radio_button :option_id, o.id %> </td>
       <% end %>
       <% end %>
  		  <td> <%= fo.label :option_id, o.option %> </td> 

        <% if @totalVotes != 0 %>
  		  <td><% v[i] = Voting.where("option_id = ?", o.id).count %> 
          <%#= v  %>
          <%= @totalVotes  %>
      <%# v1 = ((@totalVotes-v)*100)/@totalVotes %>
      <% v[i] = (v[i]*100/@totalVotes) %>
      
      <%#= v %>
      </td>

  		 </tr>
  		<% i = i + 1 %>
      <% end %>
		<% end %>
    </table>

    <% if @totalVotes != 0 %>
    <% v.delete_at(i) %>
    
    <div> 
     <p align="right">
    <img src="<%= Gchart.pie_3d( :size => '600x300', :data => [v], :legend => @options.all.collect{|o| o.option}, :labels => v.collect{|v| v}
    )%>"/>
  </p>
</div>
<% end %>
		
      
     <% if user_signed_in? %>
     <% if @voted == false  %>
  	<p>
    	<%= fo.submit 'Vote' %>
  	</p>
    <% else %>
    You have already Voted!!!
  	<% end %>
    <% end %>

<% end %>