<div class="row-fluid">
  <div class="span12"  style="display:inline-block; vertical-align:middle;">
    <%= form_for @voting do |fo| %>
        <%= fo.hidden_field :option_id %>
        <%= fo.hidden_field :user_id %>
        <% v=[],i=0 %>

        <div class="span3" style="display:inline-block; vertical-align:middle;">
<!--         <div style="width:50%; margin-left:20px;"> -->
 <!--      <div class="btn-group" data-toggle="buttons-radio">
 -->

        	<% @options.all.each do |o| %>
         
            <% if user_signed_in? %>
              <% if @voted == false  %>
              <%#= fo.radio_button :option_id, o.id %><%#= fo.label :option_id, o.option %>
              <div class="row-fluid">
                <div class="span3">
<!--                     <input type="text"  id="voting_option_id_<%= o.id %>"  style="text-align:right; margin-top:8px;" name="voting[option_id]" class="btn btn-primary" value="<%= o.id %>"><%= o.option %></input> -->
                  <input type="radio" id="voting_option_id_<%= o.id %>"  style="text-align:right; margin-top:8px;" name="voting[option_id]" value="<%= o.id %>"/>
                </div>
                  
                <div class="span8"> 
                  <p style="text-align:left"><%= o.option %></p>
                </div>
              </div>
              <% end %>
            <% end %>
         
            <% if @totalVotes != 0 %>
        		  <% v[i] = Voting.where("option_id = ?", o.id).count %> 
              <% v[i] = (v[i]*100/@totalVotes) %>
              <% i = i + 1 %>
            <% end %>

          <% end %>
        <!--  </div> -->
        <br/>
        
        <% if user_signed_in? %>
          <% if @voted == false  %>
            <div class="row-fluid">
              <%= fo.submit 'Vote', :class=>'btn btn-inverse' %>
            </div>
          <% else %>
            <div class="row-fluid">
              - We got your Vote..!! Cheers..!!
            </div>
          <% end %>
        
        <% end %>
        </div>
      
       <% if @totalVotes != 0 %>
        <% v.delete_at(i) %>
        <div class="span8"  style="display:inline-block; vertical-align:middle;">
          <div class="poll-vault-image" id="#war-pie">
            <img src="<%= Gchart.pie_3d( :size => '500x250', :data => [v], :legend => @options.all.collect{|o| o.option}, :labels => v.collect{|v| v})%>"/>
          </div>
        </div>
      <% end %>
  
    <% end %>

  </div>
</div>